<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <title>bibl.io</title>
</head>
<body>
  <header>
    <h1>bibl.io</h1>
    <div class="logo"><div>b<sup>.io<sup></div></div>
  </header>
  <nav>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a>
    <a href="/publishers">Publishers</a>
  </nav>
  <%= yield %>
</body>
</html>