body {
    font-family: 'Open Sans', sans-serif;
    color: #2B2D42;
}

a {
    text-decoration: none;
    color: #2B2D42
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #2B2D42, white);
    color: white;
}

h1 {
    margin: 0;
    padding: 1.5rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 50%;
    background: #2B2D42;
    font-size: 1.25rem
}

nav {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, white, #2B2D42);
}

nav a {
    padding: 0.5rem;
}

nav a:hover, nav a:active {
    background-color: #2B2D42;
    color: white;
}

.subheader {
    display: flex;
    align-items: center;
    background-color: #FFD4F3;
}

h2 {
    margin: 0;
    padding: 0.5rem 1rem;
}

table {
    margin: 0.5rem;
}

th {
    padding: 0.25rem 1rem;
    background-color: #778DA9;
    color: white;
}

td {
    padding: 0.25rem 1rem;
    background-color: white;
}

td a:hover, td a:active {
    text-decoration: underline;
}

table.horizontal {
    border-collapse: collapse;
    border: 1px solid #2B2D42;
}

table.horizontal th {
    padding: 0 0.5rem;
    background-color: #2B2D42;
    text-align: right;
    border: 1px solid #2B2D42;
}

table.horizontal td {
    border: 1px solid #2B2D42;
}

.btn {
    all: unset;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 0.1rem 0.5rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid #2B2D42;
    border-radius: 1rem;
    background-color: #bcffbc;
}

.btn:hover, .btn:active {
    text-decoration: none;
    box-shadow: 0.1rem 0.1rem 0.25rem #2B2D4266;
}

.center {
    text-align: center;
}

.red {
    background-color: #ffb9b9;
}

.amber {
    background-color: #ffff90;
}

.green {
    background-color: #bcffbc;
}


