<div class="subheader">
  <h2>Edit Author</h2>
</div>

<form action="/authors/<%= @author.id %>" method="post">
  <table class="horizontal">
    <tr>
      <th scope="row"><label for="first-name">First Name</label></th>
      <td><input type="text" name="first_name" id="first-name" value="<%= @author.first_name %>" required></td>
    </tr>
    <tr>
      <th scope="row"><label for="last-name">Last Name</label></th>
      <td><input type="text" name="last_name" id="last-name" value="<%= @author.last_name %>" required></td>
    </tr>
  </table>
  <input class="btn amber" type="submit" value="Update Author">
</form>