<h2>Author Portal</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @authors.each do |author|%>
    <tr>
      <td><a href="/authors/<%= author.id %>"><%= author.print_name() %></a></td>
    </tr>
  <% end %>
  <tr>
    <td><a href="/authors/new">+ Create New</a></td>
  </tr>
</table>

