<div class="subheader">
  <h2>All Authors</h2>
  <a href="/authors/new" class="btn">Create New</a>
</div>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @authors.each do |author|%>
    <tr>
      <td><a href="/authors/<%= author.id %>"><%= author.print_name() %></a></td>
    </tr>
  <% end %>
</table>