<h2>Author Details</h2>
<table>
  <tr>
    <th scope="row">First Name</th>
    <td><%= @author.first_name %></td>
  </tr>
  <tr>
    <th scope="row">Last Name</th>
    <td><%= @author.last_name %></td>
  </tr>
  </table>