<h2>Publisher Portal</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  <% @publishers.each do |publisher|%>
    <tr>
      <td><a href="/publishers/<%= publisher.id %>"><%= publisher.name %></a></td>
      <td><%= publisher.email %></td>
      <td><%= publisher.phone_number %></td>
    </tr>
  <% end %>
  <tr>
    <td><a href="/publishers/new">+ Create New</a></td>
  </tr>
</table>