<h2>New Publisher</h2>
<form action="/publishers" method="post">
  <table>
    <tr>
      <th scope="row"><label for="name">Name</label></th>
      <td><input type="text" name="name" id="name"></td>
    </tr>
    <tr>
      <th scope="row"><label for="address">Address</label></th>
      <td><input type="text" name="address" id="address"></td>
    </tr>
    <tr>
      <th scope="row"><label for="email">Email</label></th>
      <td><input type="email" name="email" id="email"></td>
    </tr>
    <tr>
      <th scope="row"><label for="phone-number">Phone Number</label></th>
      <td><input type="text" name="phone_number" id="phone-number"></td>
    </tr>
  </table>
  <input type="submit" value="Create Publisher">
</form>