<div class="subheader">
  <h2>New Publisher</h2>
</div>
<form action="/publishers" method="post">
  <table class="horizontal">
    <tr>
      <th scope="row"><label for="name">Name</label></th>
      <td><input type="text" name="name" id="name"></td>
    </tr>
    <tr>
      <th scope="row"><label for="address">Address</label></th>
      <td><textarea name="address" id="address"></textarea></td> 
    </tr>
    <tr>
      <th scope="row"><label for="email">Email</label></th>
      <td><input type="email" name="email" id="email"></td>
    </tr>
    <tr>
      <th scope="row"><label for="phone-number">Phone Number</label></th>
      <td><input type="tel" name="phone_number" id="phone-number"></td>
    </tr>
  </table>
  <input class="btn" type="submit" value="Create Publisher">
</form>