<h2>Publisher Details</h2>
<table>
  <tr>
    <th scope="row">Name</th>
    <td><%= @publisher.name %></td>
  </tr>
  <tr>
    <th scope="row">Address</th>
    <td><%= @publisher.address %></td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td><%= @publisher.email %></td>
  </tr>
  <tr>
    <th scope="row">Phone Number</th>
    <td><%= @publisher.phone_number %></td>
  </tr>
  </table>